// GENERIC PERSO.
@import "generic/reset";
@import "generic/unit";

// SETTINGS PERSO.
@import "settings/color";

// TOOLS
@import "../../node_modules/sass-mq/mq";

// ELEMENTS PERSO.
@import "elements/heading";

// COMPONENTS PERSO.
@import "components/topNav";
@import "components/postalInput";

html{
    font-size: 62.5%;
    line-height: 1.3;
    background-color: $background;
    body{
        font-size: 1.6rem;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    }
}