h1 {
    margin: $Ru 0;
    font-weight: 600;
    width: 100%;
    @include mq($from: 1100px) {
      margin-bottom: $Rsu;
    }

}

.price{
    font-weight: 600;
    font-size: 3rem;
}

#plats,
#ingredient {
    ul {
        li:nth-child(2n+1) {
            margin-top: $Ru;
            font-weight: 600;
        }
        li:nth-child(2n+2) {
            margin-top: $Rtu;
            max-width: 500px;
        }
    }
}
p.dateMenu{
    font-weight: 600;
    text-align: center;
    color: rgba(0, 0, 0, .7);
    margin: $Rsu auto 0;
    @include mq($from: 1100px){
        margin-top: $Ru;
    }

}
