@include mq($from: 0px){
    .footer{
        background: $green;
        color: $white;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: $Rlu $Rsu;
        margin-top: $Rhu;
        text-align: center;
        align-self: center;
        svg{
            fill: $white;
            path{
                fill:$white;
            }
        }
        &__top{
            max-width: 430px;
            margin: 0 auto;
            padding-bottom: 24px;
            .header{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                flex-wrap: nowrap;
                margin-bottom: 48px;
                #logo{
                    width: 150px;
                    margin: 0 auto;
                }
                .social{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    flex-wrap: nowrap;
                    margin-top: 12px;
                    a{
                        &:first-of-type{
                            margin-right: 24px;
                        }
                        svg {
                          width: 30px;
                          height: 30px;
                        }
                        &:hover{
                            svg{
                                fill: $brown;
                                path{
                                    fill: $brown;
                                }
                            }
                        }
                    }
                }
            }
            .contact{
                margin-bottom: 24px;
                a{
                    color: $white;
                    text-decoration: underline;
                }
            }
            .menu{
                ul{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    flex-wrap: nowrap;
                    li{
                        &:first-of-type{
                            margin-right: 24px;
                        }
                        a{
                            color: white;
                        }
                        &:hover{
                            a{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
        &__bottom{
            padding-top: 24px;
            border-top: 1px solid $white;
            max-width: 430px;
            margin: 0 auto;
            .copyright{
                font-size: 12px;
                a{
                    color: $white;
                    text-decoration: underline;
                }
            }
            .payment{
                margin-top: 24px;
            }
        }
    }
}