@include mq($from: 0px){
    .kart{
        padding-top: 54px;
        &__mobile{
            .recap{
                &__header{
                    background-color: #f8f8f8;
                    color: $white;
                    padding: 0 0 $Rsu;
                    .total{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        flex-wrap: nowrap;
                        background-color: $green;
                        padding: $Rsu $Rsu;
                        &__price{
                            font-weight: 600;
                        }
                    }
                    .commande{
                        background: $green;
                        padding: $Rsu $Ru;
                        display: block;
                        width: calc(100% - 24px);
                        max-width: 350px;
                        margin: $Rsu auto;
                        transform: inherit;
                        &:hover{
                            background-color: $white;
                            color: $green;
                        }
                    }
                    .description{
                        color: $core;
                        &__content {
                          padding: 0 $Rlu;
                          color: $green;
                          border-bottom: 1px solid $green;

                            li {
                                list-style-type: disc;
                                margin: 0 auto;
                                margin-bottom: $Rsu;
                                &:last-of-type {
                                  margin-bottom: $Ru;
                                }

                                p {
                                  color: $core;
                                }

                            }
                        }
                        &__price{
                            padding: $Ru $Rsu;
                            border-bottom: 1px solid $green;
                            dl{
                                display: flex;
                                flex-direction: row;
                                justify-content: flex-start;
                                flex-wrap: wrap;
                                dt, dd {
                                    width: 50%;
                                    margin-bottom: $Rtu;
                                }
                                dd{
                                    text-align: right;
                                }
                                .end{
                                    margin: $Ru 0 0 0;
                                    font-weight: 600;
                                }
                           }
                        }
                    }
                }
                &__content{
                    margin: $Rsu;
                    .item{
                        margin-top: $Rsu;
                        padding-bottom: $Ru;
                        border-bottom: 1px solid $green;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        justify-content: flex-start;
                        &__image{
                            position: relative;
                            img{
                                width: 100%;
                            }
                            .date{
                                position: absolute;
                                top: 0;left: 0;
                                background-color: $green;
                                color: $white;
                                padding: $Rtu $Rsu;
                            }
                            .delete{
                                background: $green;
                                position: absolute;
                                top: 0;right: 0;
                                padding: $Rtu $Rsu;
                                &:hover{
                                    transform: inherit;
                                    background: $red;


                                }
                            }
                        }
                        &__description{
                            .title{
                                font-weight: 600;
                                margin: $Rtu 0;
                            }
                            .boisson{
                                margin-bottom: $Rtu;
                            }
                            .item__price{
                            }
                        }
                        @include mq($from: 700px){
                            flex-direction: row;
                            &__image{
                                max-width: 320px;
                                min-width: 320px;
                            }
                            &__description{
                                margin-left: $Rsu;
                                .title{
                                    margin-top: 0;
                                }
                            }
                        }
                    }
                }
                &__form{
                    margin: $Ru $Rsu;
                    .md-field{
                        border-bottom: 1px solid $green;
                    }
                    .md-icon{
                        color: $green;
                    }
                    .commande {
                      background: $green;
                      padding: $Rsu $Ru;
                      display: block;
                      width: calc(100% - 24px);
                      margin: $Rsu auto;
                    }

                }
            }
        }
        &__desktop{
            display: none;
        }
        @include mq($from: desktop){
            &__mobile{
                display: none;
            }
            &__desktop{
                display: block;
                margin: $Rlu $Rhu 0;
                color: $core;
                .recap{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    flex-wrap: nowrap;
                    h2{
                        font-size: 2rem;
                        font-weight: 600;
                        margin-bottom: $Ru;
                    }
                    &__content{
                        .item {
                            margin-top: $Rsu;
                            padding-bottom: $Ru;
                            border-bottom: 1px solid $green;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;
                            justify-content: flex-start;
                            position: relative;
                            &__image {
                                position: relative;
                                width: 168px;
                                img {
                                    width: 100%;
                                }
                                .date {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    background-color: $green;
                                    color: $white;
                                    padding: $Rtu $Rsu;
                                }
                            }
                            &__description {
                                margin-left: $Ru;
                                .title {
                                    font-weight: 600;
                                    margin: $Rtu 0;
                                    max-width: 350px;
                                }
                                .boisson {
                                    margin-bottom: $Rtu;
                                }
                                .item__price {
                                    position: absolute;
                                    right: 0;
                                    top: 35%;
                                    font-weight: 600;
                                    font-size: 2rem;
                                }
                                .delete {
                                    color: $green;
                                    text-decoration: underline;
                                    background: none;
                                    padding: 0;
                                    &:hover{
                                        transform: inherit;
                                        color: $red;
                                    }
                                }
                            }
                        }
                    }
                    &__description{
                        background: $white;
                        padding: $su 0 0;
                        .description{
                             &__price{
                                padding: $Ru 20%;
                                dl {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: flex-start;
                                    flex-wrap: wrap;
                                    dt,
                                    dd {
                                    width: 50%;
                                    margin-bottom: $Rtu;
                                    }
                                    dd {
                                    text-align: right;
                                    }
                                    .end {
                                    margin: $Ru 0 0 0;
                                    font-weight: 600;
                                    }
                                }
                             }
                            .commande{
                                background: $green;
                                width: 100%;
                                max-width: 350px;
                                display: block;
                                margin: 0 auto $Ru;
                                padding: $Rsu 0;
                                &:hover{
                                    transform: inherit;
                                    background: $white;
                                    color: $green;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .md-list{
        background: $white !important;
        .md-list-item-content{
            &:hover{
                background: #eaf1df;

            }
            span{
                color: $core !important;
            }
        }
    }
    .md-input.md-input.md-select-value{
        margin-left: $Rsu;
    }
    // Form dialog & overlay
    .md-dialog.md-dialog-fullscreen.md-theme-default,
    .md-overlay {
        display: none !important;
        @include mq($from: desktop){
            display: block !important;
        }
    }

    // Re design md-dialog on desktop
    .md-dialog{
        background-color: #f8f8f8;
        width: 50%;
        .md-field {
            border-bottom: 1px solid $green;
        }
        .md-icon {
            color: $green;
        }
        &-actions{
            justify-content: space-between;
            padding: 0 $Rsu;
            .md-button{
                &.close{
                    color: $red;
                }
                &.buy{
                    color: $white;
                    background-color: $green;
                    width: 100%;
                    margin: 0;
                }
                &.x{
                    color: $red;
                    position: absolute;
                    top: -450px;
                    right: 0;
                }
            }
        }
    }
    .md-menu-content.md-select-menu{
        z-index: 10;
    }

}