.md-tabs.md-theme-default .md-tabs-navigation .md-button.md-active{
    color: $green !important;
}
.md-tabs.md-theme-default .md-tabs-navigation,
.md-content.md-tabs-content.md-theme-default{
    background-color: $background;
}

.md-button:not([disabled]).md-focused:before,
.md-button:not([disabled]):active:before,
.md-button:not([disabled]):hover:before{
    background-color: $green;
}


.md-tabs-indicator.md-tabs-indicator-left,
.md-tabs-indicator.md-tabs-indicator-right{
    background-color: $green !important;
}
.md-tabs.md-theme-default .md-tabs-navigation .md-button{
    min-width: 58px !important;
}
.md-content.md-tabs-content.md-theme-default{
    height: 100% !important;
}

:root {
  --md-theme-default-primary: $green !important;
  --md-theme-default-accent: #ff5252;
  --md-theme-default-theme: "light";
}

@include mq($from: 700px){
    .days>.md-tabs-navigation.md-elevation-0:first-of-type {
        position: absolute;
        top: -48px;
        right: 0;
        z-index: 0;
        background-color: #f8f8f8;
        @include mq($from: desktop) {
            top: 12px;
            right: 10%;
            z-index: 11;
            background-color: #fff;
        }
        @include mq($from: 1191px) {
            top: 3px;
        }

        @include mq($from: 1570px) {
          top: 2px;
        }


    }
    @include mq($from: desktop){
        .md-tabs-indicator{
            height: 4px;
        }
    }
}

.md-tabs .md-tabs{
    .md-content,
    .md-tabs-navigation{
        background-color: $white;
    }
}