@include mq($from: 0px){
    .menuContent{
        .image{
            // height: 200px;
            display: block;
            content: "";
            margin-top: $Rsu;
            height: 50vh;
            width: 100%;
            background-size: cover;
            background-position: center;
            overflow: hidden;
            img{
                min-width: 100%;
            }
        }
        .addToKart{
            margin-top: $Ru;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .md-tabs.md-alignment-left.md-dynamic-height.md-theme-default {
            // Plat & ingrédient tabs
            .md-tabs.md-alignment-left.md-theme-default{
                margin-top: $Ru;
                .md-tabs-navigation.md-elevation-0 {
                  display: flex !important;
                  flex-direction: row !important;
                  justify-content: flex-start !important;
                  button {
                    width: 50% !important;
                    max-width: inherit !important;
                  }
                  .md-tabs-indicator.md-tabs-indicator-left {
                    width: 50%;
                    max-width: inherit !important;
                  }
                }

            }
        }

    }
}