@include mq($from: 0px){
    .menuContent{
        .image{
            // height: 200px;
            display: block;
            content: "";
            margin-top: $Rsu;
            height: 50vh;
            width: 100%;
            background-size: cover;
            background-position: center;
            overflow: hidden;
            .slider{
              height: 100% !important;
            }

        }
        .addToKart {
            background: $white;
            padding: $Ru $Rsu;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            .payData{
              width: 100%;
              margin-top: $Rsu;
              i{
                margin-right: $Rsu;
              }
              &:hover{
                cursor: pointer;
                span{
                  text-decoration: underline;
                }
              }
            }
        }
        .md-tabs.md-alignment-left.md-dynamic-height.md-theme-default {
            // Plat & ingrédient tabs
            .md-tabs.md-alignment-left.md-theme-default{
                margin-top: $Ru;
                @include mq($from: 1100px){
                    margin-top: $Rsu;
                }
                .md-tabs-navigation.md-elevation-0 {
                  display: flex !important;
                  flex-direction: row !important;
                  justify-content: flex-start !important;
                  button {
                    width: 50% !important;
                    max-width: inherit !important;
                  }
                  .md-tabs-indicator.md-tabs-indicator-left {
                    width: 50%;
                    max-width: inherit !important;
                  }
                }

            }
        }
        @include mq($from: desktop){
            padding: $Rhu $Rhu 0;
            @include mq($from: 1100px){
               .md-tab{
                   display: flex;
                   flex-direction: row;
                   justify-content: flex-start;
                   flex-wrap: wrap;
                   padding: 0;
                    .image {
                      max-width: 60%;
                    }
                    .group{
                        width: 37%;
                        margin-left: $Ru;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        .md-tabs{
                            order: 0;
                            .md-tab{
                                padding: 0;
                            }
                        }
                        .addToKart{
                            order: 1;
                            padding: $Ru $Rsu;
                        }
                    }
               }
            }
        }
    }
    .recapKart{
      display: none;
    }
    @include mq($from: desktop){
          .recapKart {
            z-index: 11;
            position: inherit;
            top: inherit;
            left: inherit;
            transform: inherit;
            max-width: inherit;
            max-height: inherit;
            min-width: inherit;
            position: fixed;
            right: 0;
            top: 60px;
            max-width: 450px !important;
            .md-dialog-content {
              .description {
                &__content {
                  // padding: 0 $Rlu;
                  color: $green;
                  border-bottom: 1px solid $green;
                  li {
                    list-style-type: disc;
                    max-width: 350px;
                    margin: 0 auto;
                    margin-bottom: $Rsu;
                    &:last-of-type {
                      margin-bottom: $Rlu;
                    }
                    p {
                      color: $core;
                    }
                  }
                }
                &__price {
                  padding: $Ru 0;
                  dl {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    dt,
                    dd {
                      width: 50%;
                      margin-bottom: $Rtu;
                    }
                    dd {
                      text-align: right;
                    }
                    .end {
                      margin: $Ru 0 0 0;
                      font-weight: 600;
                    }
                  }
                }
                .commande {
                  background: $green;
                  width: 100%;
                  padding: $Rsu 0;
                  &:hover {
                    transform: inherit;
                    background: $white;
                    color: $green;
                  }
                }
              }
            }
            .md-dialog-actions{
              .buy{
                width: auto !important;
              }
              .x{
                top: -435px !important;
              }
            }
          }

    }
    #ingredient, #plats{
      ul{
        display: block;
        margin: 0 $Rsu;
        padding-bottom: $Ru; 
      }
    }
    .md-dialog.payData{
      .md-dialog-actions{
        height: 30px !important;
        min-height: inherit;
        .md-button.x{
          top: inherit;
        }
      }
      .md-dialog-title.md-title {
        padding-top: 0 !important;
      }
    }
}