@include mq($from: 0px) {
    .postal{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: nowrap;
        align-items: center;
        padding-top: 54px;
        z-index: 1;
        &__label{
            padding: $Rsu;
            background-color: $green;
            position: relative;
            &:after{
                content:'';
                position:absolute;
                border: 10px solid transparent;
                border-top:10px solid transparent;
                border-left:10px solid transparent;
                border-right:10px solid transparent;
                border-bottom:10px solid $green;
                transform: rotate(-270deg);
                position: absolute;
                right: -20px;
                top: 18px;
            }
            svg{
                fill: $white;
                height: 30px;
            }
        }
        @include mq($from: desktop) {
          padding-top: 0px;
          width: 400px;
          position: relative;
        //   left: 10%;
          &__label {
            background: $white;
            svg{
                fill: $green;
                padding-right: $Rsu;
                border-right: 1px solid $green;
            }
            &:after{
                display: none;
            }
          }
        }

        &__input{
            border: none;
            height: 100%;
            width: 100%;
            background-color: inherit;
            padding: 1.9rem $Rsu 1.9rem $Ru;
            font-size: $cu;
        }
    }
    .ap-input-icon.ap-icon-pin{svg{display: none;}}

    @include mq($from: desktop){
        .postal{
            display: none;
        }
        .horse{
            .postal{
                display: flex;
            }
        }
    }
}