@include mq($from: 0px){
    .value{
        display: none;
        z-index: 1;
        @include mq($from: desktop){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: nowrap;
            background: $green;
            color: $white;
            padding: $Ru $Rhu;
            &__item{
                width: 25%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                flex-wrap: nowrap;
                align-items: center;
                margin-right: $Rlu;
                svg {
                  fill: $white;
                  height: 30px;
                  margin-right: $Ru;
                }
            }
        }
    }
}